.card-forge-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-forge-card {
  --bg-color: white;
  --border-color: #5c5c5c;
  --light-text-color: #fafafa;
  --dark-text-color: #111;

  --list-marker-color: #6c6c6c;
  --checked-color: #4c4c4c;

  --table-alt-row-color: #ddd;

  --gap: 4px;

  width: 238px;
  height: 332px;

  background-color: var(--bg-color);
  border: var(--gap) solid var(--border-color);
  color: var(--dark-text-color);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  .cf-header {
    padding: var(--gap) calc(var(--gap) * 2);
    background-color: var(--border-color);
    color: var(--light-text-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }

  .cf-footer {
    padding: var(--gap) calc(var(--gap) * 2);
    background-color: var(--border-color);
    color: var(--light-text-color);
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      position: relative;
      top: 1px;
    }
  }

  .cf-body {
    padding: var(--gap) calc(var(--gap) * 2);
    font-size: var(--font-smallest);
    flex: 1;

    hr {
      margin: calc(var(--gap) * 3) calc(var(--gap) * -2);
      border-top: var(--hr-thickness) dashed #7c7c7c;
    }

    p {
      margin: var(--gap) 0;
    }

    ul,
    ul ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        padding-left: calc(var(--gap) * 4);
        text-indent: 0;

        &::before {
          content: "•";
          position: absolute;
          left: 2px;
          color: var(--list-marker-color);
        }

        &.task-list-item {
          &::before {
            left: 0;
            content: "○";
            color: var(--list-marker-color);
          }

          &.is-checked {
            text-decoration: none;
            color: inherit;

            &::before {
              left: 0;
              content: "●";
              color: var(--checked-color);
            }
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0 2px;

      th,
      td {
        padding: 2px 4px;
      }

      tr:nth-child(even) {
        background-color: var(--table-alt-row-color);
      }
    }
  }
}
