.card-forge-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, 2.5in);
  grid-template-rows: repeat(auto-fit, 3.5in);
  gap: 0.1in;
}

.card-forge-card {
  width: 2.5in;
  height: 3.5in;

  background-color: var(--background-secondary-alt);
  border: 1mm solid var(--color-base-70);

  overflow: hidden;

  .cf-header {
    display: flex;
    padding: 1mm 2mm;
    background-color: var(--color-base-70);
    color: var(--color-base-10);
    text-transform: uppercase;
    align-items: center;

    .cf-title {
      flex: 1;

      font-weight: var(--font-bold);
      font-size: var(--font-ui-larger);
    }
    .cf-type {
      font-size: var(--font-ui-smaller);
    }
  }

  .cf-body {
    padding: 1mm 2mm;
    font-size: var(--font-smallest);

    hr {
        margin: 3mm -2mm;
        border-top: var(--hr-thickness) dashed var(--color-base-50);
    }

    ul {
      padding-left: 1.5em;

      li {
        margin: 0.5em 0;

        li {
          margin: 0.25em 0;
        }
      }
    }

    ul.contains-task-list,
    ul.contains-task-list ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        padding-left: 1.5em;
        text-indent: 0;

        &::before {
          content: "•";
          position: absolute;
          left: 2px;
          color: var(--list-marker-color);
        }

        &.task-list-item {
          &::before {
            left: 0;
            content: "○";
            color: var(--list-marker-color-hover);
          }

          &.is-checked {
            text-decoration: none;
            color: inherit;

            &::before {
              left: 0;
              content: "●";
              color: var(--list-marker-color-hover);
            }
          }

          input[type="checkbox"] {
            display: none;
          }
        }
      }
    }
  }
}
